/* ------------------
    RESET
------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------
    COMMON
------------------ */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
img {
    display: inline-block;
    height: 100%;
}

/* ------------------
    HEADER  
------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5625rem;
    height: 7.5rem;
}
.logo {
    display: flex;
    height: 100%;
}
.logo-title {
    font-size: 2.625rem;
    line-height: 7.5rem;
}
#play__btn {
    padding: .3125rem 2.5rem;
}

/* ------------------
    MAIN
------------------ */
main {
    flex-grow: 1;
    background-color: #7fffd4;
    display: flex;
}
#box__container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 65vh;
    height: 65vh;
    border: 1px solid black;
    margin: auto;
}
.box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
}
.bg-change {
    background-color: lightblue;
}

/* ------------------
    COMMON
------------------ */
footer {
    height: 5rem;
}
.credit {
    line-height: 5rem;
}